.heading{
    margin-top: 0px;
    padding: 20px;
    display: inline-block;
    /* float: left; */
} 
.linka{
    color: white;
    margin: 30px 30px 30px;
    float: right; 
    font-weight: bold;
}
a:hover{
    color:white;
    text-decoration: none;
}