.main{
    margin-top: 2%;
    margin-left: 17%;
    margin-right: 17%;
}
.container{
    display: flex;
}
.subcontain{
    margin:0px 5px;
}
.flex-child{
    width:215px;
    height:315px;
    background-color: rgb(53, 53, 53);
}
.para{
    color: white;
    padding-top: 50%;
    text-align: center;
}
.caption{
    margin-top:0px;
    padding: 5px;
    background-color: grey;
    color: rgb(161, 161, 161);
    text-align: center;
}
.paraMain{
    text-align: center;
    color: rgb(161, 161, 161);
}