table,td,th{
    border: 1px solid black;
    width: 40%;
    margin: auto;
}
.red{
    color: red;
}

th{
    color: red;
    font-size: 25px;
    background-color: rgb(253, 253, 98);
}

td{
    background-color: rgb(62, 217, 238);
    padding-left: 10px;
}
input[type="text"],input[type='password'],textarea,select{
    margin:2px;
    width:90%;
    background-color: rgb(205, 236, 240);
}

button{
    border: 2px solid grey;
  width:40%;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color: rgb(205, 236, 240);
}

input[type="file"]{
    background-color: rgb(205, 236, 240);
}

